body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: #e5e7eb;
}

.container {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: #020617;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

input, select, button {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background: #020617;
    color: #e5e7eb;
    border: 1px solid #334155;
    border-radius: 5px;
}

button {
    background: #2563eb;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

ul {
    list-style: none;
    padding: 0;
}
